<!DOCTYPE html>
<html>
  <head>
    <title>Myshopy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if logged_in? %>
      hola <%= @current_user.name %> <br>
      <%= link_to "Perfil", current_user %>
    <% else %>
      <%= link_to "registrate", signup_path %> <br>
      <%= link_to "Iniciar sesion", login_path %>
    <% end %>

    <% if flash[:alert] %>
      <%= flash[:alert] %>
    <% end %>
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>

    <%= yield %>
  </body>
</html>
