<!DOCTYPE html>
<html>
  <head>
    <title>Myshopy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <% if flash[:alert] %>
      <div class="alert flash" id="flash">
        <p>
          <%= flash[:alert] %>
        </p>
      </div>
    <% end %>
    <% if flash[:notice] %>
      <div class="notice flash" id="flash">
        <p>
          <%= flash[:notice] %>
        </p>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
